DATABASE_URL=postgresql://postgres:SUA_SENHA@localhost:5432/gerenciamento_telefones
APP_TIMEZONE=America/Rio_janeiro
COOKIES_PASSWORD=planilhas_telefones_secret_2024
CHAMADOS_APP_URL=http://localhost:5173
